@font-face {
    font-family: "TTNorms";
    src: url(/assets/fonts/TTNorms/TTNormsPro-Medium.ttf);
}

@font-face {
    font-family: "samim";
    src: url(/assets/fonts/samim/samim-regular.ttf);
}

@font-face {
    font-family: "samim-bold";
    src: url(/assets/fonts/samim/samim-bold.ttf);
}