/* Main */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    direction: rtl;
    font-family: "samim";
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

/* landing section */

.landing-section{
    background-image: url(/assets/images/landing-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper{
    background: #10072096;
    height: 100vh;
}

.headline-section .text{
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85vh;
}

.headline-section .text .text-wrapper{
    color: rgb(239, 230, 230);
    text-shadow: 0 0 1rem #31087B;
}

.headline-section .text .text-wrapper h3{
    font-size: 2.5rem;
    font-weight: bolder;
}

.headline-section .text .text-wrapper h3 span{
    font-weight: lighter;
}

.headline-section .text .text-wrapper h1{
    font-size: 1.4rem;
    display: block;
}

/* aboutme section */

.a{
    /* background-color: rgba(49, 8, 123, .6); */
    background-color: #28282B;
    box-shadow: .625rem 0 .5rem -.125rem #888;
}

.aboutme-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme-section>.right-side{
    padding: 6rem 0;
}

.aboutme-section>.right-side .tab-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.5rem 2rem;
    backdrop-filter: blur(.3125rem) saturate(100%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.33rem;
    border: .0625rem solid rgba(255, 255, 255, 0.125);
    max-width: 32rem;
    text-align: justify;
    color: #28282B;
}

.aboutme-section>.right-side>.tab-section>.title-section{
    line-height: 2.5rem;
}

.aboutme-section>.right-side>.tab-section>.title-section>h3{
    font-size: 1.6rem;
    margin: .7rem 0;
}

.aboutme-section>.right-side>.tab-section>.title-section>h3 span{
    margin-right: 1.7rem;
}

.aboutme-section>.right-side>.tab-section .description-section{
    line-height: 1.9rem;
}

.btn{
    padding: .5rem 1.3rem;
    border-radius: 1.2rem;
    background-color: transparent;
    outline: none;
    border: .125rem solid #100720;
    transition: background-color .2s, color .2s;
    cursor: pointer;
}

.btn:hover{
    background-color: #100720;
    color: #fff;
}

.aboutme-section>.left-side>.img-wrapper .aboutme-img{
    max-width: 38rem;
    display: block;
}

#overlay.active{
    filter: brightness(.5);
    pointer-events: none;
    user-select: none;
} 

.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    background-color: #fdfbf8;
    border-radius: 1rem;
    z-index: 10;
    padding: 2rem;
    max-width: 45rem;
    opacity: 0;
    top: -200%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}

.popup.active, #popup-section.active{
    opacity: 1;
    top: 70rem;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup > div{
    position: relative;
    top: .265rem;
    opacity: 0;
}

.popup.active > div{
    top: 0;
    opacity: 1;
}

.popup.active .body-popup{
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .img{
    transition: all 300ms ease-in-out 300ms;
}

.popup .header-popup{
    position: relative;
    display: block;
}

.popup .body-popup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 3.5rem; */
    border-top: .0625rem solid #888;
}

.popup .body-popup .text{
    line-height: 2rem;
    max-width: 20rem;
    min-width: 16rem;
}

.popup .body-popup .img{

}

.popup .body-popup .img .img-popup{
    max-width: 15rem;
}

.popup .close-btn{
    position: absolute;
    top: -1.3rem;
    right: -1.5rem;
}

.popup .close-btn .dismiss-btn{
    background-color: transparent;
    cursor: pointer;
    padding: .6rem .85rem;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: background-color .2s;
}

.popup .close-btn .dismiss-btn:hover{
    /* color: rgb(237, 56, 56);
    transform: scale(1.3);
    transition: transform 300ms; */
    background-color: rgba(192, 192, 192, 0.878);
}

.b{
    background-color: #28282B;
    box-shadow: inset 0 .625rem 1.5625rem -.625rem #888;
}

.skill-section{
    padding: 6rem 0;
    color: #FDFBF9;
}

.skill-section>.title-section{
    text-align: center;
    font-size: 1.5rem;
}

.skill-section>.title-section>h3{
    margin-top: 0;
}

.skill-section .skills{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.skill-item{
    direction: ltr;
}

.skill-item p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.skill-section .skills>.right-side{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
}

.skill-section .skills>.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.c{
    background-color: #28282B;
    /* box-shadow: .625rem 0 1.25rem -.125rem #888; */
    box-shadow: inset 0 .625rem 1.2rem -.625rem #888;
}

.portfolio-section{
    padding: 6rem 0;
    color: #FDFBF9;
}

.portfolio-section>.title-section{
    text-align: center;
    font-size: 1.5rem;
}

.portfolio-section>.title-section>h3{
    margin-top: 0;
}

.portfolio-section .portfolios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0 .2rem;
}

.portfolio-section .portfolios .portfolio{
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .2rem #28282B;
}

.portfolio-section .portfolios .portfolio:hover .portfolio-img{
    transform: scale(1.1);
    filter: brightness(.5) blur(.125rem);
}

.portfolio-section .portfolios .portfolio:hover .btn{
    opacity: 1;
}

.portfolio-section .portfolios .portfolio:nth-child(1){
    grid-column: auto/span 3;
    grid-row: auto;
}

.portfolio-section .portfolios .portfolio:nth-child(2){
    grid-column: auto/span 1;
    grid-row: auto;
}

.portfolio-section .portfolios .portfolio .portfolio-img{
    display: block;
    width: 100%;
    transition: all .2s;
}

.portfolio-section .portfolios .portfolio .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: all .2s;
}

.d{
    background-image: url(/assets/images/contact-img.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: .625rem 0 1rem -.125rem #888;
}

.contact-section{
    padding: 6rem 0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-section>.right-side p{
    font-size: 1.3rem;
}

.contact-section>.left-side .btn{
    color: #fff;
    border-color: rgba(255, 194, 60, 1);
}

.contact-section>.left-side .btn:hover{
    color: #28282B;
    background-color: rgba(255, 194, 60, 1);
}

.d{
    padding-bottom: 1rem;
}

.d .social-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FDFBF9;
    gap: 2rem;
}

.d .social-networks .item{
    position: relative;
    cursor: pointer;
}

.d .social-networks .item .above{
    position: absolute;
    right: -1.8rem;
    top: -3.5rem;
    opacity: 0;
    transition: opacity .3s;
}

.d .social-networks .item .above .above-img{
    width: 5.5rem;
}

.d .social-networks .item:hover .above{
    opacity: 1;
}

.d .social-networks .item i{
    transition: color .2s;
}

.d .social-networks .item:hover .instagram{
    color: #E1306C;
}

.d .social-networks .item:hover .codepen{
    color: #404044;
}

.d .social-networks .item:hover .github{
    color: #404044;
}

.d .social-networks .item:hover .linkedin{
    color: #0A66C2;
}